apiVersion: v1
kind: Service
metadata:
  name: disinformation-svc
spec:
  selector:
    app: disinformation-server
  ports:
    - protocol: TCP
      port: 5020      
      targetPort: 8020
